@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables */
* {
  --black: #333;
  --faded-black: #777;
  --white: #f3f3f3;
  --grey: #777872;
  --grey-bg: #272822;
  --red: #fa0000;
  --shadow: #333;


  --code-bg: #e7e8e2;
  --highlight-color: #F8EDC9;

  --link-color: royalblue;
}

/* Font faces */
body {
  font-family: 'Raleway', sans-serif;
  line-height: 160%;
}
h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.remark-code,
.remark-inline-code {
  font-family: 'Hack', 'Ubuntu Mono', monospace;
}
.remark-slide-number {
  font-family: 'Avenir', 'Open Sans', sans-serif;
}
def {
  font-family: 'Big Caslon', serif;
  font-size: 1.1em;
  font-style: italic;
}


/* Sizes */
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.remark-code,
.remark-inline-code {
  font-size: .7em;
  line-height: 140%;
}

/* Misc classes */
.red {
  color: var(--red);
}
.large {
  font-size: 2em;
}

.footnote {
  position: absolute;
  bottom: 3em;
}
li p {
  line-height: 1.25em;
}
.middle h1 {
  margin-top: 0;
}

.remark-inline-code {
  padding-left: 3px;
  padding-right: 3px;
}
.remark-code {
  padding-left: 1em !important;
}

blockquote {
  color: var(--grey);
  font-style: italic;
}
def::after {
  content: ' = '
}

/* Colors */
a,
a > code {
  color: var(--link-color);
  text-decoration: none;
}
code {
  background: var(--code-bg);
  border-radius: 3px;
}
.remark-code-line-highlighted {
  background-color: var(--highlight-color);
}
.section-number {
  color: var(--faded-black);
}

/* Side by side slide layout */
.pull-left {
  float: left;
  width: 48%;
}
.pull-right {
  float: right;
  width: 48%;
}
.pull-right ~ p {
  clear: both;
}

/* For part separation */
.inverse {
  background: var(--grey-bg);
  color: var(--grey);
  text-shadow: 0 0 20px var(--shadow);
}
.inverse h1,
.inverse h2 {
  color: var(--white);
  line-height: 0.8em;
}

/* Two-column layout */
.left-column {
  color: var(--faded-black); /* show previous headers more faded*/
  width: 20%;
  /*height: 92%;*/
  float: left;
}
.left-column h2:last-of-type,
.left-column h3:last-child {
  color: var(--black);  /* show newest one more proeminent */
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

#slide-first .remark-slide-number,
#slide-agenda .remark-slide-number,
.inverse .remark-slide-number {
  display: none;  /* hide page numbers on first page */
}

/* Slide specific */
#slide-first h1,
#slide-first h2 {
  line-height: 0.8em;
}
#slide-first h2 {
  margin-top: .5em !important;
  color: var(--grey);
  font-size: 1.5em;
}
#slide-first .bottom {
  position: absolute;
  bottom: 2em;
  color: var(--grey);
  left: 50%;
  transform: translate(-50%, 0);

}

#slide-agenda h1 {
  margin-bottom: .5em;
}
#slide-agenda {
  padding-top: 15%;  /* HACK pseudo vertically center */
}
#slide-agenda ol {
  list-style-type: upper-roman;
  display: inline-block;
}
#slide-agenda li {
  text-align: left;
  margin-left: 2em; /* HACK to "weight-center" list */
  padding-left: .25em; /* a bit of space between number and title */
  font-size: 1.25em;
  line-height: 1.35em;
}

/* Iterative header */
.iterative-header-slide h2 {
  display: inline-block;
}
.iterative-header-slide h2:first-of-type {
  color: var(--faded-black);
}
.iterative-header-slide h2:first-of-type::after {
  content: ' – ';
}
