/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Raleway|Source+Sans+Pro:400,400i,700|Judson:400i|Open+Sans');

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body {
  font-family: 'Raleway', sans-serif;
}
.remark-code,
.remark-inline-code {
  font-family:  'Source Code Pro', monospace;
}
def {
  font-family: 'Judson', serif;
  font-size: 1.2em;
  font-style: italic;
}
.remark-slide-number {
  font-family: 'Open Sans', sans-serif;
}


/* Sizes */
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
.inverse h1,
.inverse h2 {
  line-height: 0.8em;
}
body {
  line-height: 160%;
}
.remark-code,
.remark-inline-code {
  font-size: .7em;
  line-height: 140%;
}
.footnote {
  font-size: .8em;
}


/* Positioning */
.middle h1 {
  margin-top: 0; /* to better center it */
}
img {  /* center horizontally */
  margin: auto;
  display: block;
  max-width: 100%;
}
.footnote {
  position: absolute;
  bottom: 3em;
}

.graph-benchmark img {
  max-height: 200%
}

/* Margins and paddings */
.remark-inline-code {
  padding-left: 4px;
  padding-right: 4px;
}
.remark-code {
  padding-left: 1em !important;
}
blockquote {
  border-left: 5px solid;
  margin-left: 0;
  padding-left: 1.5em;
}
.remark-inline-code {
  border: solid 1px;
  border-radius: 2px;
  padding-bottom: 2px;
}


/* Colors */
* {
  --black: #333;
  --white: #f3f3f3;
  --grey: #777872;
  --light-grey: #DDDDDD;
  --faded-black: #777;
  --grey-bg: #272822;
  --code-bg: #e7e8e2;
  --inline-code-bg: #F8F8F8;
  --highlight-color: #F8EDC9;
  --link-color: royalblue;
}
.section-number,
.iterative-header-slide h2:first-of-type {
  color: var(--faded-black);
}
body {
  color: var(--black);
}
.remark-code {
  background: var(--code-bg);.
  border-radius: 3px;
}
.remark-code-line-highlighted {
  background-color: var(--highlight-color);
}
.remark-inline-code {
  background-color: var(--inline-code-bg);
  border-color: var(--light-grey)
}
blockquote {
  color: var(--grey);
  border-color: var(--light-grey);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
.progress {
  background-color: rgb(150, 150, 150);
}

.inverse {
  background: var(--grey-bg);
  color: var(--grey);
}
.inverse h1,
.inverse h2 {
  color: var(--white);
}
#slide-first h2,
#slide-first .bottom {
  color: var(--grey);
}


/* Iterative header */
.iterative-header-slide h2 {
  display: inline-block;
}
.iterative-header-slide h2:first-of-type {
  font-weight: lighter;
}
.iterative-header-slide h2:first-of-type::after {
  content: ' – ';
}


/* Slide specific */
#slide-first h1 {
  margin-top: -50px;
}
#slide-first h2 {
  font-size: 1.35em;
  font-weight: lighter;
}
#slide-first .bottom {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
}

#slide-agenda h1 {
  margin-bottom: .5em;
}
#slide-agenda {
  padding-top: 15%;  /* HACK pseudo vertically center */
}
#slide-agenda ol {
  list-style-type: upper-roman;
  display: inline-block;
}
#slide-agenda li {
  text-align: left;
  margin-left: 1.5em; /* HACK to "weight-center" list */
  padding-left: .25em; /* a bit of space between number and title */
  font-size: 1.15em;
  line-height: 1.35em;
}

#slide-first .remark-slide-number,
#slide-agenda .remark-slide-number,
.inverse .remark-slide-number {
  display: none;  /* hide page numbers on first page */
}


/* Misc */
def::after {
  content: ' = '
}

.progress {
  height: 4px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#slide-first .progress {
  display: none;
}
